$class-prefix-input: "bw-input";

.#{$class-prefix-input} {
  height: 100%;
  width: 240px;
  outline: none;
  &::placeholder {
    color: #ddd;
    font-size: 15px;
  }
  &-wrapper {
    --width: 100%;
    --prefix-width: "auto";
    --border-inner: 1px solid #E7E7E7;

    display: flex;
    align-items: center;
    width: var(--width);
    height: 40px;
    font-size: 22px;
    color: #333233;
    border-bottom: var(--border-inner);
  }
  &-name {
    width: var(--prefix-width);
    padding-right: 28px;
    flex-shrink: 0;
    font-size: 15px;
  }
}
