.bw-bill {
  &-input {
    height: 100%;
    width: 240px;
    outline: none;
    &::placeholder {
      color: #ddd;
      font-size: 15px;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      width: 310px;
      height: 40px;
      font-size: 22px;
      color: #333233;
      border-bottom: #E7E7E7 solid 1px;
    }
    &-name {
      padding-right: 28px;
      flex-shrink: 0;
      font-size: 15px;
    }
  }
}
