$class-prefix-button: "bw-button";

.#{$class-prefix-button} {
  width: 310px;
  height: 50px;
  display: inline-block;
  font-size: 16px;
  color: #333233;
  border-radius: 11px;
  background: #AEEEFF;
  &-block {
    width: 100%;
    display: block;
  }
  &-full {
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
}
