.wrapper {
  flex-grow: 1;
  overflow: auto;
  padding-bottom: 40px;
  .item {
    margin: 0 16px;
    border-bottom: 1px solid #e8e8e8;
    .head {
      display: flex;
      height: 64px;
      align-items: center;
      .img {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        background: #EBEBEB;
      }
      > div {
        .name {
          font-weight: 600;
          font-size: 16px;
          color: #1C1C1F;
        }
        .time {
          font-size: 12px;
          color: #9A9EA9;
        }
      }
    }

    main {
      padding: 0 0 11px 46px;
      transform: translateY(-7px);
      .content {
        margin-bottom: 12px;
        font-size: 16px;
        color: #333233;
      }
      .imgs {
        .img {
          width: 30%;
          padding-bottom: 30%;
          margin: 0 6px 6px 0;
          border-radius: 4px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
          }
        }
      }
      footer {
        margin-top: 10px;
        span {
          flex-grow: 1;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 14px;
          svg {
            font-size: 21px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
