$class-prefix-list: "bw-list";

.#{$class-prefix-list} {
  &-body {
    background: #fff;
    overflow: hidden;
    font-size: 17px;
  }

  &-body-inner {
    margin-bottom: -1px;
  }

  &-default {
    .#{$class-prefix-list}-body {
      border-top: #eee;
      border-bottom: #eee;
    }
  }

  &-card {
    margin: 12px;
    .#{$class-prefix-list}-body {
      border-radius: 8px;
    }
  }

}

$class-prefix-list-item: "bw-list-item";

.#{$class-prefix-list-item} {
  display: block;
  padding-left: 16px;
  &-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 12px 12px 0;
    color: #414041;
    border-bottom: 1px solid #ECECEC;
    &-main {
      flex: auto;
      font-size: 14px;
    }
    &-extra {
      flex: none;
      padding-left: 12px;
      font-size: 13px;
      color: #969696;
    }
    &-arrow {
      flex: none;
      display: flex;
      align-items: center;
      margin-left: 4px;
      font-size: 11px;
      color: #969696;
    }
  }
}

a.#{$class-prefix-list-item} {
  &:active {
    background-color: #eee;
  }
}
