$class-prefix-fixed-pin: "bw-fixed-pin";

.#{$class-prefix-fixed-pin} {
  z-index: 200;
  width: 55px;
  height: 55px;
  position: fixed;
  top: 75%;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #333233;
  background: #AEEEFF;
  box-shadow: 0 3px 6px rgba(174, 238, 255, 0.41);
  border-radius: 50%;
}
