.context {
  flex-grow: 1;
  overflow: auto;

  > .main_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 10px 0;


    > .wrapper_item {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 24%;

      &:not(:nth-child(4n)) {
        margin-right: calc(4% / 3);
      }

      > span {
        font-size: 13px;
        font-weight: 400;
        color: #000000;
        opacity: 1;
      }

      > div {
        width: 55px;
        height: 55px;
        background: #cccc;
        border-radius: 50%;
        opacity: 1;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .newClass_icon {
          width: 60%;
          height: 60%;
        }
        &.newClass_icon_backGround{
          background: var(--theme-color);
        }
      }
    }
  }

}
