.top {
  background-color: var(--theme-color);
  display: flex;

  > .cancel {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    opacity: 1;
    margin-left: 21px;
    padding: 11px 0;
  }

  > p {
    padding-right: 33px;
    flex-grow: 1;
    display: flex;
    justify-content: center;

    > span {
      font-size: 18px;
      font-weight: 400;
      color: #000000;
      opacity: 1;
      padding: 11px 7px 11px 5px;
      position: relative;

      &:nth-child(1) {
        margin-right: 34px;
      }

      &.active:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #333233;
        opacity: 1;
      }
    }
  }
}
