$class-prefix-icon: "bw-icon";

.#{$class-prefix-icon} {
  display: inline-block;
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 20px;
  &-block {
    display: block;
  }
}
