.list {
  display: flex;
  flex-direction: column;

  > .share {
    position: absolute;
    right: 17px;
    bottom: 76px;
    width: 55px;
    height: 55px;
    background: #AEEEFF;
    box-shadow: 0px 3px 6px 1px rgba(174, 238, 255, 0.41);
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    > span {
      font-size: 16px;
      font-weight: 600;
      color: #333233;
    }
  }

  > .listItem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-left: 15px;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
    font-weight: normal;
    color: #aeaeae;

    > .listKeys {
      margin-left: 12px;
      font-size: 15px;
      font-weight: 400;
      color: #605f60;
    }
  }
}
