@import "~normalize.css";

@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 取消 ios touch 高亮
  outline: none;
}

body {
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

textarea, input {
  outline: none;
}

html, body, #root, .page {
  height: 100%;
}

button, input {
  border: none;
  background: transparent;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// fix and icon middle problem
.adm-toast-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adm-button {
  background-color: var(--background-color);
}

:root {
  --theme-color: #AEEEFF;
  --background-color: #f5f5f5;
}
